@import '../../assets/helpers/mixin';
@import '../../assets/helpers/variabler';
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;500&family=Roboto+Condensed:wght@300;400&display=swap');

section {
    @include section;
    p,
    h4 {
        @include content;
    }
    //"tilbage til top" style 
    .top {
        display: grid;
        grid-template-columns: auto auto;
        a {
            text-decoration: underline;
            text-transform: uppercase;
            color: $gray;
            font-family: 'Roboto Condensed', sans-serif;
            font-weight: bold;
            font-size: 3vh;
            margin: 0;
            display: flex;
            justify-content: flex-end;
            &:hover {
                color: $darkBlue;
            }
        }
        h2 {
            @include headers;
        }
    }
    figure {
        display: grid;
        grid-template-columns: 50% auto;
        margin-left: 0;
        padding-left: 0;
        img {
            width: 100%;
        }
        h3 {
            @include headers;
            font-size: 4vh
        }
    }
}