@import '../../assets/helpers/mixin';
@import '../../assets/helpers/variabler';
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;500&family=Roboto+Condensed:wght@300;400&display=swap');


header {
    box-shadow: 5px 1px 50px $black;
    background-color: $black;
    div {
        display: inline-block;
        h1 {
            color: #fff;
            text-transform: uppercase;
            font-family: 'Oswald', sans-serif;
            font-weight: 500;
            font-size: 12vh;
            padding-bottom: 0;
            margin-bottom: 0;
        }
        h2 {
            font-family: 'Oswald', sans-serif;
            font-weight: 300;
            color: $lightBlue;
            font-size: 9vh;
            padding-top: 0;
            margin-top: 0;
        }
    }
    img {
        width: 15%;
        padding-left: 250px;
        padding-right: 50px;
    }
}