@import '../../assets/helpers/mixin';
@import '../../assets/helpers/variabler';
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;500&family=Roboto+Condensed:wght@300;400&display=swap');

footer {
    @include section;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    background-color: $black;
    img {
        width: 50%;
        @include center;
    }
    h2 {
        @include headers;
        font-size: 5vh;
        margin: 1em;
    }
    a {
        margin: 1em 2em;
        text-decoration: none;
        color: $gray;
        font-family: 'Roboto Condensed', sans-serif;
        display: block;
    }
}